PATH.sh
demos
demos-*
build-*
build/*
*~
.idea
__pycache__
venv
*.pyc
boltzmann/libhapodgdt.so
libhapodgdt.so
.vscode
tags
tags.lock
tags.temp
*.code-workspace
*.log
cellmodel_snapshot_*
boltzmann_snapshot_*
coordinatetransformedmn_snapshot_*
coordinatetransformedboltzmann_snapshot_*
coordinatetransformedmn_sigma_*
*.swp
*.vtp
*.vtu
rom_results*
*_timings.txt
*.cprof
*.orig
gdt/*.so
*.code-workspace
