PATH.sh
demos
demos-*
build-*
build/*
*~
.idea
__pycache__
venv
*.pyc
boltzmann/libhapodgdt.so
libhapodgdt.so
.vscode
tags
tags.lock
tags.temp
*.code-workspace
*.log
cellmodel_snapshot_*
boltzmann_snapshot_*
*.swp
*.vtu


