[submodule "dune-common"]
	path = dune-common
	url = http://users.dune-project.org/repositories/projects/dune-common.git
[submodule "dune-grid"]
	path = dune-grid
	url = http://users.dune-project.org/repositories/projects/dune-grid.git
[submodule "dune-geometry"]
	path = dune-geometry
	url = http://users.dune-project.org/repositories/projects/dune-geometry.git
[submodule "dune-fem"]
	path = dune-fem
	url = http://users.dune-project.org/repositories/projects/dune-fem.git
[submodule "dune-stuff"]
	path = dune-stuff
	url = http://users.dune-project.org/repositories/projects/dune-stuff.git
[submodule "dune-grid-multiscale"]
	path = dune-grid-multiscale
	url = http://users.dune-project.org/repositories/projects/dune-grid-multiscale.git
[submodule "dune-detailed-discretizations"]
	path = dune-detailed-discretizations
	url = http://users.dune-project.org/repositories/projects/dune-detailed-discretizations.git
[submodule "local/bin"]
	path = local/bin
	url = http://users.dune-project.org/repositories/projects/dune-demos-bin.git
[submodule "dune-localfunctions"]
	path = dune-localfunctions
	url = http://users.dune-project.org/repositories/projects/dune-localfunctions.git
