[submodule "dune-common"]
	path = dune-common
	url = https://github.com/dune-community/dune-common.git
        ignore = dirty
[submodule "dune-grid"]
	path = dune-grid
	url = https://github.com/dune-mirrors/dune-grid.git
        ignore = dirty
[submodule "dune-geometry"]
	path = dune-geometry
	url = https://github.com/dune-mirrors/dune-geometry.git
        ignore = dirty
[submodule "local/bin"]
	path = bin
	url = https://github.com/dune-community/local-bin.git
        ignore = untracked
[submodule "dune-localfunctions"]
	path = dune-localfunctions
	url = https://github.com/dune-mirrors/dune-localfunctions.git
        ignore = dirty
[submodule "dune-gdt"]
	path = dune-gdt
	url = https://github.com/dune-community/dune-gdt.git
[submodule "dune-istl"]
	path = dune-istl
	url = https://github.com/dune-mirrors/dune-istl.git
[submodule "configs"]
	path = config.opts
	url = https://github.com/dune-community/config.opts.git
[submodule "scripts"]
	path = scripts
	url = https://github.com/wwu-numerik/scripts.git
[submodule "dune-alugrid"]
	path = dune-alugrid
	url = https://github.com/dune-community/dune-alugrid
[submodule ".ci/shared"]
	path = .ci/shared
	url = https://github.com/dune-community/dune-xt-ci
[submodule "dune-xt"]
	path = dune-xt
	url = https://zivgitlab.uni-muenster.de/ag-ohlberger/dune-community/dune-xt.git
