[submodule "dune-common"]
	path = dune-common
	url = http://git.dune-project.org/repositories/dune-common
[submodule "dune-grid"]
	path = dune-grid
	url = http://git.dune-project.org/repositories/dune-grid
[submodule "dune-geometry"]
	path = dune-geometry
	url = http://git.dune-project.org/repositories/dune-geometry
[submodule "dune-fem"]
	path = dune-fem
	url = http://users.dune-project.org/repositories/projects/dune-fem-unofficial.git
[submodule "dune-stuff"]
	path = dune-stuff
	url = http://users.dune-project.org/repositories/projects/dune-stuff.git
[submodule "dune-grid-multiscale"]
	path = dune-grid-multiscale
	url = http://users.dune-project.org/repositories/projects/dune-grid-multiscale.git
[submodule "local/bin"]
	path = local/bin
	url = http://users.dune-project.org/repositories/projects/dune-demos-bin.git
[submodule "dune-localfunctions"]
	path = dune-localfunctions
	url = http://git.dune-project.org/repositories/dune-localfunctions
[submodule "dune-fem-localfunctions"]
	path = dune-fem-localfunctions
	url = http://users.dune-project.org/repositories/projects/dune-fem-localfunctions.git
[submodule "dune-gdt"]
	path = dune-gdt
	url = http://users.dune-project.org/repositories/projects/dune-gdt.git
