# This file is part of the dune-gdt-demos project:
#   http://users.dune-project.org/projects/dune-gdt-demos
# Copyright holders: Felix Schindler
# License: BSD 2-Clause License (http://opensource.org/licenses/BSD-2-Clause)

# available constants:
# CC, CXX, F77, CXXFLAGS, BASEDIR, SRCDIR
# all commands are executed in $SRCDIR/$NAME

#[metis]
#src=http://ftp.mcs.anl.gov/pub/petsc/externalpackages/metis-5.1.0-p1.tar.gz
#build='make config shared=1 prefix=$INSTALL_PREFIX'
#      'make'
#      'make install'

#[parmetis]
#src=http://glaros.dtc.umn.edu/gkhome/fetch/sw/parmetis/parmetis-4.0.3.tar.gz
#build='make config cc=/usr/bin/mpicc mpicc=/usr/bin/mpicc mpicxx=/usr/bin/mpicxx shared=1 prefix=$INSTALL_PREFIX'
#      'make'
#      'make install'

[eigen]
src=http://bitbucket.org/eigen/eigen/get/3.2.4.tar.gz
build='test -d build || mkdir build'
      'rm -rf build/*'
      'cd build && cmake .. -Wno-dev -DCMAKE_INSTALL_PREFIX=$INSTALL_PREFIX -DCMAKE_CXX_COMPILER=$CXX -DCMAKE_BUILD_TYPE=RELEASE'

[spe10model1]
only_build=True
build='test -d $BASEDIR/local/src/spe10/model1 || mkdir -p $BASEDIR/local/src/spe10/model1'
      'cd $BASEDIR/local/src/spe10/model1 && [ ! -e perm_case1.zip ] && wget -nc http://wwwmath.uni-muenster.de/num/ohlberger/research/software/perm_case1.zip ; unzip -o perm_case1.zip'

#[boost]
#src=http://wwwmath.uni-muenster.de/num/ohlberger/research/software/boost-1.55.tar.bz2
#build='./bootstrap.sh --with-libraries=filesystem,system,thread,timer,chrono,date_time --prefix=$INSTALL_PREFIX --with-toolset=${BOOST_TOOLSET}'
#      './b2 install'

